@media (max-width:1100px){
    .wrapper-sidebar-and-main{
        gap: 25px;
    }
}
@media (max-width:900px), (max-height:700px){
    .header{
        position: sticky;
        top: 0;
        box-shadow: 0 5px 10px black;
    }
    .sidebar{
        display: none;
    }
    .main{
        flex-basis: 100%;
    }
    .button-learn-more__link:hover{
        transform: none;
        background: black;
        color: white;
    }
    .buttons-theme__link:hover{
        transform: none;
        background: black;
        color: white;
    }
    .diploma:hover{
        transform: none;
        background: black;
        color: white;
    }
    .svg-image:hover{
        transform: none;
    }
    .svg-image-footer-vk:hover{
        background-image: none;
        transform: none;
    }
    .svg-image-footer-telegram:hover{
        background-image: none;
        transform: none;
    }
    .header__theme-switch_sun:hover{
        transform: none;
    }
    .header__theme-switch_night:hover{
        transform: none;
    }
    .go-top{
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 92%;
        top: 87.5%;
        width: 50px;
        height: 50px;
        background: black;
        border: 4px solid white;
        color: white;
        border-radius: 30px;
        font-size: 20px;
        cursor: pointer ;
    }
}
@media (max-width:800px){
    .go-top{
        left: 91%;
    }
}
@media (max-width:700px){
    .go-top{
        left: 90%;
    }
}
@media (max-width:600px), (max-height:600px){
    .go-top{
        top: 85%;
    }
}
@media (max-width:550px){
    .wrapper-final-page{
        height: 84.5vh;
    }
    .info-title{
        padding: 55px 0 12px 0;
    }
    .info-title_first-paragraph{
        padding: 0 0 12px 0;
    }
    .wrapper-sidebar-and-main{
        padding: 50px 15px;
    }
}
@media (max-width:700px), (max-height:500px){
    .header{
        padding: 0 15px 0 15px;
        position: sticky;
        top: 0;
        height: 60px;
    }
    .header__nav{
        display: flex;
        flex-direction: row;
    }
    .wrapper-final-page{
        height: 84vh;
    }
    .adaptive__link-header{
        display: flex;
    }
    .adaptive__title{
        display: flex;
    }
    .adaptive_wrapper-burger{
        display: flex;
    }
    .adaptive__burger{
        display: flex;
    }
    .header__link, .header__nav-logo, .svg-image_index-page, .dropdown-menu, .dropdown-current-btn{
        display: none;
    }
    .buttons-theme__link, .button-learn-more__link, .diploma{
        font-size: 16px;
    }
}
@media (max-width: 550px){
    .go-top{
        left: 87%;
    }
}
@media (max-height:500px){
    .go-top{
        top: 84%;
    }
}
@media (max-width:500px){
    .info-title{
        font-size: 22px;
    }
    .go-top{
        left: 82%;
    }
}
@media (max-height:450px){
    .go-top{
        top: 83%;
    }
}
@media (max-width:400px){
    p, .header__nav-menu-list-item, .buttons-theme__link, .footer__paragraph{
        font-size: 14px;
    }
    .info-title{
        font-size: 16px;
    }
    .info-block_code-html, .info-block_code-css{
        font-size: 14px;
    }
}
@media (max-height:375px){
    .go-top{
        top: 81%;
    }
}
@media (max-width:350px){
    .go-top{
        width: 45px;
        height: 45px;
    }
}
@media (max-width:330px){
    .disp-code{
    display: none;
    }
}
@media (max-height:325px){
    .go-top{
        top: 80%;
    }
}
@media (max-width:320px){
    .adaptive__text-logo{
        font-size: 14px;
    }
}
@media (max-height:300px){
    .go-top{
        display: none;
    }
}
@media (max-width:300px){
    .wrapper-final-page{
        height: 81vh;
    }
    .footer-wrapper{
        display: none;
    }
    .footer-wrapper_small-size{
        padding: 10px 0;
        display: flex;
        flex-direction: column;
    }
    .footer__paragraph{
        padding: 5px 0 0 0;
    }
    .images-container-footer{
        justify-content: center;
    }
    .svg-image-footer-telegram{
        margin: 0 10px 0 10px;
        height: 40px;
        width: 40px;
        background-size: cover;
    }
    .svg-image-footer-vk{
        margin: 0 10px 0 10px;
        height: 40px;
        width: 40px;
        background-size: cover;
    }
}
@media (max-width:300px){
    .go-top{
        left: 80%;
    }
}
@media (max-width:290px){
    .header{
        height: 50px;
    }
    .adaptive-item{
        font-size: 16px;
    }
    .adaptive-current-item{
        font-size: 20px;
    }
    .adaptive-list{
        font-size: 20px;
        row-gap: 20px;
    }
    .adaptive__text-logo{
        font-size: 12px;
    }
    .adaptive_wrapper-burger{
        width: 44.3px;
    }
    .adaptive__burger{
        width: 25px;
        height: 15px;
    }
    .buttons-theme{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .buttons-theme__link{
        width: 60%;
    }
}
@media (max-width:275px){
    .go-top{
        left: 77.5%;
    }
}
@media (max-width:210px){
    .adaptive__title{
        display: none;
    }
}
@media (max-width:237px){
    .wrapper-final-page{
        height: 78vh;
    }
    .go-top{
        width: 40px;
        height: 40px;
        font-size: 15px;
    }
}