@media (max-width:1100px){
    .wrapper-sidebar-and-main{
        gap: 25px;
    }
}
@media (max-width:900px), (max-height:700px){
    .sidebar{
        display: none;
    }
    .main{
        flex-basis: 100%;
    }
    .button-learn-more__link:hover{
        transform: none;
        background: black;
        color: white;
    }
    .buttons-theme__link:hover{
        transform: none;
        background: black;
        color: white;
    }
    .diploma:hover{
        transform: none;
        background: black;
        color: white;
    }
    .svg-image-footer-vk:hover{
        background-image: none;
        transform: none;
    }
    .svg-image-footer-telegram:hover{
        background-image: none;
        transform: none;
    }
}
@media (max-width:550px){
    .wrapper-final-page{
        height: 84.5vh;
    }
    .header__nav-logo{
        display: none;
    }
    .info-title{
        padding: 55px 0 12px 0;
    }
    .info-title_first-paragraph{
        padding: 0 0 12px 0;
    }
    .wrapper-sidebar-and-main{
        padding: 50px 15px;
    }
}
@media (max-width:500px){
    .info-title{
        font-size: 22px;
    }
}
@media (max-width:480px), (max-height:700px){
    .header{
        padding: 0 15px 0 15px;
        position: sticky;
        top: 0;
        height: 60px;
    }
    .header__nav{
        display: flex;
        flex-direction: row;
    }
    .wrapper-final-page{
        height: 84vh;
    }
    .adaptive__text-logo{
        display: flex;
    }
    .adaptive__burger{
        display: flex;
    }

    .header__link, .header__nav-logo{
        display: none;
    }
    .buttons-theme__link, .button-learn-more__link, .diploma{
        font-size: 16px;
    }
}
@media (max-width:400px){
    p, .header__nav-menu-list-item, .buttons-theme__link, .footer__paragraph{
        font-size: 14px;
    }
    .info-title{
        font-size: 16px;
    }
    .info-block_code-html, .info-block_code-css{
        margin: 8px 0;
        padding: 10px;
        font-size: 14px;
    }
}
@media (max-width:300px){
    .wrapper-final-page{
        height: 81vh;
    }
    .footer-wrapper{
        display: none;
    }
    .footer-wrapper_small-size{
        padding: 10px 0;
        display: flex;
        flex-direction: column;
    }
    .footer__paragraph{
        padding: 5px 0 0 0;
    }
    .images-container-footer{
        justify-content: center;
    }
    .svg-image-footer-telegram{
        margin: 0 10px 0 10px;
        height: 40px;
        width: 40px;
        background-size: cover;
    }
    .svg-image-footer-vk{
        margin: 0 10px 0 10px;
        height: 40px;
        width: 40px;
        background-size: cover;
    }
}
@media (max-width:237px){
    .wrapper-final-page{
        height: 78vh;
    }
}