@media (max-width:1100px){
    .wrapper-sidebar-and-main{
        gap: 25px;
    }
}
@media (max-width:850px){
    .sidebar{
        display: none;
    }
    .main{
        flex-basis: 100%;
    }
}
@media (max-width:500px){
    .info-title{
        font-size: 25px;
    }
    .header__nav-logo{
        display: none;
    }
}
@media (max-width:480px){
   
}