.color-outside-the-boundaries{
    background: #000;
}
.wrapper-background{
    background: white;
    border-radius: 15px;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
/* обертка sidebar и main */
.wrapper-sidebar-and-main{
    padding: 75px 15px;
    display: flex;
    gap: 50px;
}
/* обертка sidebar и main */
::-webkit-scrollbar {
    width: 0;
  }
*{
    /* border: 1px solid black; */
    scroll-behavior: smooth;
    font-family: 'Montserrat';
    line-height: 25px;
    font-weight: 400;
}
.link{
    text-decoration: none;
    color: white;
}
p{
    line-height: 30px;
}
b{
    font-weight: 600;
}