.container-final-page{
    /* padding: 75px 108.75px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
}
.greeting{
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.diploma{
    width: 400px;
    height: 70px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    background: black;
    color: white;
    border: none;
    transition: .6s ease;
}
.diploma:hover{
    transform: scale(1.03);
    background: #6f51e6;
    color: black;
}