/* index.html */
.footer{
    margin: 0 15px 0 15px;
    height: 75px;
    display: flex;
    align-items: center;
    color: white;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.images-container-footer{
    display: flex;
    justify-content: space-between;
}
.footer__paragraph{
    text-align: center;
}
.svg-image-footer-telegram{
    margin-right: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-image: url(../image/telegram.svg);
    transition: .5s ease;
}
.svg-image-footer-telegram:hover{
    background-image: url(../image/telegram_hover.svg);
    transform: scale(1.1);
}
.svg-image-footer-vk{
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-image: url(../image/vk.svg);
    transition: .5s ease;
}
.svg-image-footer-vk:hover{
    background-image: url(../image/vk_hover.svg);
    transform: scale(1.1);
}
/* end index.html */