/* index.html */
.header{
    padding: 0 15px 0 15px;
    height: 75px;
    display: flex;
    align-items: center;
    color: white;
    background: #000;
}
.header__wrapper{
    margin: 0 auto;
}
.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.svg-image_index-page{
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-image: url(../image/logo\ home\ page.svg);
    transition: .7s ease;
}
.svg-image_index-page:hover{
    transform: scale(1.2);
}
.header__nav-item{
    transition: .4s ease;
}
.header__nav-item:hover{
    transform: scale(1.2);
}
/* end index.html */

/* about-the-school */
.svg-image{
    width: 42px;
    height: 42px;
    cursor: pointer;
    background-image: url(../image/logo.svg);
    transition: .7s ease;
}
.svg-image:hover{
    background-image: url(../image/logo\ home\ page.svg);
    transform: rotate(360deg) scale(1.2);
}
.active_page{
    border-bottom: 2px solid white;
}
/* end about-the-school */

/* adaptive menu */
.header__toggle{
    position: relative;
    display: none;
    width: 45%;
}
.header__toggle-button{
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}
.header__toggle-menu{
    width: 100%;
    overflow: auto;
    height: 400px;
    position: absolute;
    display: none;
    background: black;
    border-radius: 15px;
}
.header__toggle-menu_small{
    height: auto;
}
.header__toggle-menu-link{
    text-align: center;
    text-decoration: none;
    color: black;
    background: #6f51e6;
    padding: 15px 5px;
    display: block;
}
.header__toggle:hover .header__toggle-menu{
    display: block;
    box-shadow: 0 15px 15px black;
}
/* end adaptive menu */