/* index.html */
.main{
    flex-basis: 75%;
}
.info-title{
    margin: 0;
    padding: 110px 0 24px 0;
    font-size: 33px;
    font-weight: 600;
    line-height: 30px;
}
.info-title_first-paragraph{
    padding: 0 0 24px 0;
}
.main__link{ 
    text-decoration: underline ;
    color: #f89d1b;
}
.button-learn-more{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.button-learn-more__link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background: #000;
    color: white;
    font-size: 20px;
    width: 90%;
    height: 50px;
    border-radius: 15px;
    transition: .5s ease;
    box-shadow: 0 5px 10px black;
}
.button-learn-more__link:hover{
    transform: scale(1.06);
    background: #6f51e6;
    color: #000;
    box-shadow: 0 10px 15px black;
}
/* end index.html */

/* about-the-school */
.buttons-theme{
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.buttons-theme__link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background: #000;
    color: white;
    font-size: 20px;
    width: 40%;
    height: 50px;
    border-radius: 15px;
    transition: .4s ease;
    box-shadow: 0 5px 10px black;
}
.buttons-theme__link:hover{
    transform: scale(1.06);
    background: #6f51e6;
    color: #000;
    box-shadow: 0 10px 10px black;
}
/* end about-the-school */

/* HTML */
.info-paragraph_code-html{
    color: #9F2340;
    background: #E7E7E7;
    border-radius: 10px;
    padding: 4px 8px 4px 8px;
}
.info-block_code-html{
    margin: 16px 0;
    padding: 20px;
    color: #9F2340;
    background: #E7E7E7;
    border-radius: 10px;
}
.info-html-text{
    color: black;
}
/* end HTML */

/* CSS */
.info-paragraph_code-css{
    color: #6f51e6;
    background: #E7E7E7;
    border-radius: 10px;
    padding: 4px 8px 4px 8px;
}
.info-block_code-css{
    margin: 16px 0;
    padding: 20px;
    color: #6f51e6;
    background: #E7E7E7;
    border-radius: 10px;
}
/* end CSS */

/* final page */
.wrapper-final-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 83vh;
}
.greeting{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.greeting__paragraph{
    text-align: center;
}
.diploma{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background: #000;
    color: white;
    font-size: 20px;
    width: 30%;
    height: 50px;
    border-radius: 15px;
    transition: .4s ease;
    box-shadow: 0 5px 10px black;
}
.diploma:hover{
    transform: scale(1.06);
    background: #6f51e6;
    color: #000;
    box-shadow: 0 10px 10px black;
}
/* end final page */