/* index.html */
.main{
    flex-basis: 75%;
}
.info-title{
    margin: 0;
    padding: 110px 0 24px 0;
    font-size: 33px;
    font-weight: 600;
    line-height: 30px;
}
.info-title_first-paragraph{
    padding: 0 0 24px 0;
}
.main__link{ 
    text-decoration: underline ;
    color: #f89d1b;
}
.button-learn-more{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.button-learn-more__link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background: #000;
    color: white;
    font-size: 20px;
    width: 80%;
    height: 50px;
    border-radius: 15px;
    transition: .5s ease;
    box-shadow: 0 5px 10px black;
}
.button-learn-more__link:hover{
    transform: scale(1.06);
    box-shadow: 0 10px 15px black;
}
/* end index.html */

/* about-the-school */
.buttons-theme{
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.buttons-theme__link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background: #000;
    color: white;
    font-size: 20px;
    width: 40%;
    height: 50px;
    border-radius: 15px;
    transition: .4s ease;
    box-shadow: 0 5px 10px black;
}
.buttons-theme__link:hover{
    transform: scale(1.06);
    box-shadow: 0 10px 10px black;
}
/* end about-the-school */

/* HTML */
.info-paragraph_code-html{
    color: #9F2340;
    background: #E7E7E7;
    border-radius: 10px;
    padding: 4px 8px 4px 8px;
}
.info-paragraph_code-html_dark-theme{
    color: #db57ad;
    background: #000000;
}
.info-block_code-html{
    margin: 16px 0;
    padding: 20px;
    color: #9F2340;
    background: #E7E7E7;
    border-radius: 10px;
}
.info-block_code-html_dark-theme{
    color: #db57ad;
    background: #000000;
}
.info-html-text{
    color: black;
}
.info-html-text_dark-theme{
    color: white;
}
/* end HTML */

/* CSS */
.info-paragraph_code-css{
    color: #6f51e6;
    background: #E7E7E7;
    border-radius: 10px;
    padding: 4px 8px 4px 8px;
}
.info-paragraph_code-css_dark-theme{
    color: #9883ee;
    background: #000000;
}
.info-block_code-css{
    margin: 16px 0;
    padding: 20px;
    color: #6f51e6;
    background: #E7E7E7;
    border-radius: 10px;
}
.info-block_code-css_dark-theme{
    color: #9883ee;
    background: #000000;
}
/* end CSS */

/* final page */
.wrapper-final-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 82.5vh;
}
.greeting{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.greeting__paragraph{
    text-align: center;
}
.diploma{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background: #000;
    color: white;
    font-size: 20px;
    width: 50%;
    height: 50px;
    border-radius: 15px;
    transition: .4s ease;
    box-shadow: 0 5px 10px black;
}
.diploma:hover{
    transform: scale(1.06);
    box-shadow: 0 10px 10px black;
}
/* end final page */

/* basics js */
.info-paragraph_code-js{
    color: rgb(201, 122, 18);
    background: #E7E7E7;
    border-radius: 10px;
    padding: 4px 8px 4px 8px;
}
.info-js-block-text{
    color: rgb(201, 122, 18);
}
.info-js-block{
    margin: 16px 0;
    padding: 20px;
    color: rgb(201, 122, 18);
    background: #E7E7E7;
    border-radius: 10px;
}
.info-js-text{
    color: black;
}

/* end basics js */

/* dark theme js */
.info-block_code-js_dark-theme{
    color: rgb(255, 119, 0);
    background: #000000;
}
.info-paragraph_code-js_dark-theme{
    color: rgb(255, 119, 0);
    background: #000000;
}
.info-js-block-text_dark-theme{
    color: rgb(255, 119, 0);
    background: #000000;
}
.info-js-text-dark-theme{
    color: white;
}
/* end dark theme js */