.info-title{
    margin: 0;
    padding:80px 0 30px 0;
    font-size: 33px;
    font-weight: 600;
}
.info-paragraph_last{
    margin-bottom: 0;
}
.info-title_top-padding{
    padding-top: 67.5px;
}
/* page html */

.info-paragraph_code{
    color: #9F2340;
    background: #E7E7E7;
    border-radius: 10px;
}
.info-block_code{
    margin: 16px 0;
    padding: 20px;
    color: #9F2340;
    background: #E7E7E7;
    border-radius: 10px;
}
.info-block-text_code{
    color: black;
}
.theme-buttons-wrapper{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.theme-buttons__link{
    text-decoration: none;
}
.theme-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 90px;
    background: #000;
    color: white;
    font-size: 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: .6s ease;
}
.theme-button:hover{
    transform: scale(1.03);
}
/* page html */
