.sidebar{
    padding: 0 0 67.5px 0;
    display: flex;
    width: 65%;
    height: 500px;
    position: sticky;
    top: 0;
    overflow: auto;
    border-radius: 0 0 15px 15px;
}
.list{
    padding: 15px 15px 15px 15px;
    border-radius: 15px;
    background: black;
    color: white;
}
.sidebar__title{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 30px;
}