/* index.html */
.sidebar{
    flex-basis: 22.5%;
}
.sidebar__sticky-wrapper{
    height: auto;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 20%;
}
.sidebar__title{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding: 0 0 40px 0;
}
.sidebar__list{
    padding: 0 15px 0 30px;
    border-top: 15px solid black;
    border-bottom: 15px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background: black;
    overflow: auto;
    height: 420px;
}
.sidebar__list_small{
    height: auto;
}
.sidebar__list-item{
    padding: 20px 0;
    font-weight: 400;
    font-size: 16px;
    color: white;
}
.navigation-buttons{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 15px;
}
.navigation-button__link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background: #000;
    color: white;
    width: 48%;
    height: 50px;
    border-radius: 15px;
    transition: .3s ease;
    box-shadow: 0 5px 10px black;
}
.navigation-button__link:hover{
    transform: scale(1.06);
    background: #6f51e6;
    color: #000;
    box-shadow: 0 10px 15px black;
}
/* end index.html */